* { box-sizing: border-box; }
body {
	display: table;
	height: 40em;
}
code, fieldset, textarea { border-radius: 0.3em; }
fieldset { width: 95vw; }
summary { font-size: 1.2em; }
button { margin-left: 0.25em; }
textarea {
	font-family: "Consolas";
	font-weight: 100;
	width: 100%;
}
#saved {
	color: #021;
	font-weight: 300;
	margin-left: 1em;
	text-shadow: 0 0 0.2em #0F8;
}
code {
	color: crimson;
    background-color: rgba(0,0,0,0.1);
    padding: 0 0.5em;
	text-shadow: 0 0 0.1em #005;
}
.fb {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
}
.fb * { margin: auto inherit; }
div.browser-style.fb { width: 40%; }
.block { display: block; }
.hidden {
	opacity: 0;
	transition: opacity 500ms;
}
.shown { opacity: 1; }
