body {
	display: table;
	height: 30em;
}
fieldset {
	width: 50em;
}
textarea {
	width: 100% !important;
}
div {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
div.browser-style {
	align-items: center;
	width: 40%;
}
button {
	margin-left: 0.25em;
}
summary {
	font-size: 1.2em;
}
#saved {
	color: #0F0;
	margin-left: 1em;
}
.hidden {
	opacity: 0;
	transition:opacity 500ms;
}
.shown {
	opacity: 1;
}
