* {
	box-sizing: border-box;
	text-align: center;
}
body {
	padding: 1em;
	white-space: nowrap;
}
div, fieldset {
	border-radius: 0.3em;
	padding: inherit 0.2em;
	width: 100%;
}
fieldset { height: 100%; }
.fb {
	display: flex;
	flex-flow: row nowrap;
}
.fb * { margin: auto inherit; }
.browser-style { align-items: center; }
.col {
	flex-flow: column nowrap;
	justify-content: center;
}
.field {
	background-color: #EEE;
	border: 1px solid #DDD;
	font-size: 2em;
	font-weight: 100;
}
.green { color: green; }
.red { color: red; }
.rxMatch {
	font-style: oblique;
	font-weight: 700;
	text-decoration: underline;
}
button { align-self: flex-end; }
#host {
	font-size: 1.4em;
	font-weight: 100;
}
